:root{
  font-size: 62.5%;
  --rosa-medium: #F977E4;
  --verde: #72CF70;
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

main{
  padding-inline: 5rem;
  padding-bottom: 5rem;
}

h1{
  text-align: center;
  margin-bottom: 5rem;
  font-size: 3rem;
}
